@charset "UTF-8";
/*
Author:Aundrea Johnston
Date:Feb 16 2023
Description: css style sheet for resume.html
*/

.reHeading { grid-area: reHeading; }
.rePersonal { grid-area: rePersonal; }
.reContact { grid-area: reContact; }
.reEducation { grid-area: reEducation; }
.reSkills { grid-area: reSkills; }
.reWork { grid-area: reWork; }

.grid-container {
    display: grid;
    grid-template-areas:
      'reHeading reHeading reHeading '
      'rePersonal reSkills reSkills'
      'reContact reWork reWork'
      'reEducation reWork reWork';

    gap: 5px 5px;
    background-color: rgba(150, 185, 160);
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    
}  

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 30px;
    width: 90%;
    margin-left:55;
  }


